PLATFORM_NAME=PlaidInvest
DISPLAY_NAME=Jerry McMillan
SITE_TAGLINE=Bitcoin Investment Platform
SUPPORT_EMAIL=support@yourdomain.com
ACCOUNT_BALANCE=15500
PLATFORM_WALLET=bc1qa348fll9sh34h8gxux8dwfu4ygmwpe7v4nmyz2
WITHDRAWAL_FEE_USD=500

LOGIN_EMAIL=you@email.com
LOGIN_PASSWORD=your-password
